@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

//define color palette
$purple : #573191;
$blue : #6CB7E6;
$brown : #3A2C30;
$beige : #FFFFE8;
$rose : #E4C1F9;

body {
    margin: 0px;
}


a{
    text-decoration: none;
}